<header class="bg-gradient-to-r from-blue-900 via-blue-800 to-blue-700 shadow p-4 flex items-center justify-between">
    <a href="{{ url_for('main.home') }}" class="flex items-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de MofuLunches" class="h-16 w-16 mr-4 pointer-events-none">
        <h1 class="text-2xl font-bold text-white hover:text-yellow-400">MofuLunches</h1>
    </a>
    <nav>
        <ul class="flex space-x-4">
            <li><a href="#" class="text-blue-100 font-semibold hover:text-white transition-colors">Inicio</a></li>
            <li><a href="#" class="text-blue-100 font-semibold hover:text-white transition-colors">Menú</a></li>
            <li><a href="#" class="text-blue-100 font-semibold hover:text-white transition-colors">Contacto</a></li>
        </ul>
    </nav>
</header>
