<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MofuLunches{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    {% include 'base/components/header.html' %}

    <main class="flex-1 flex flex-col items-center justify-center px-4">
        {% block content %}{% endblock %}
    </main>

    {% include 'base/components/footer.html' %}

    {% block scripts %}{% endblock %}
</body>
</html>
